:root {
  --padding: 1rem;
  --tiny: calc(100vw - var(--padding) * 2);
  --wide: 32rem;
  --box: min(var(--tiny), var(--wide));

  --backgroundColor: black;

  --mainAnimation: none;
  --mainWidth: var(--box);
  --mainHeight: var(--box);

  --playButtonBackground: dodgerblue;
  --playButtonBorder: 2px solid #1d2b53;
  --playButtonBorderRadius: 4px;
  --playButtonBoxShadow: 0 0 4px moccasin;
  --playButtonDisplay: none;
  --playButtonHeight: 3rem;
  --playButtonWidth: 6.75rem;

  --loadingBarBackground: var(--playButtonBackground);
  --loadingBarBorder: var(--playButtonBorder);
  --loadingBarBorderRadius: var(--playButtonBorderRadius);
  --loadingBarBoxShadow: var(--playButtonBoxShadow);
  --loadingBarDisplay: none;
  --loadingBarHeight: var(--playButtonHeight);
  --loadingBarTransform: scaleX(1);
  --loadingBarTransitionDuration: 256ms;
  --loadingBarWidth: var(--playButtonWidth);
}

body[data-mode="error"] {
  --backgroundColor: red;
}

body[data-mode="menu"] {
  --playButtonDisplay: flex;
}

body[data-mode="load"] {
  --loadingBarDisplay: flex;
  --loadingBarWidth: var(--box);
}

body[data-mode="play"] {
  --loadingBarDisplay: flex;
  --loadingBarWidth: var(--box);
}

body[data-mode="play"] {
  --mainAnimation: explode 128ms forwards;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    --loadingBarTransform: scaleX(0.55);
  }
}

html {
  box-sizing: border-box;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-color: var(--backgroundColor);

  align-items: center;
  color: white;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  width: 100vw;
}

@keyframes explode {
  from {
    opacity: 1;
    transform: scale(1.0);
  }
  to {
    opacity: 0;
    transform: scale(1.08);
  }
}

main {
  animation: var(--mainAnimation);
  height: var(--mainHeight);
  width: var(--mainWidth);

  align-items: center;
  display: flex;
  justify-content: center;
}

article {
  flex: 1;
}

h1[itemprop="name"] {
  color: white;
  font-family: Futura, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

[itemprop="description"] {
  font-family: Rockwell;
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}

[aria-label="play"] {
  background-color: var(--playButtonBackground);
  border: var(--playButtonBorder);
  border-radius: var(--playButtonBorderRadius);
  box-shadow: var(--playButtonBoxShadow);
  display: var(--playButtonDisplay);
  height: var(--playButtonHeight);
  width: var(--playButtonWidth);

  align-items: center;
  cursor: pointer;
  justify-content: center;
}

[aria-label="play"] svg:nth-child(1) {
  display: block;
  width: 26px;
  height: 32px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

[aria-label="play"] svg:nth-child(1) path:nth-child(1) {
  stroke: #1d2b53;
  fill: white;
  stroke-width: 10;
}

[aria-label="play"] svg:nth-child(1) path:nth-child(2) {
  fill: white;
}

[aria-label="play"] svg:nth-child(2) {
  display: block;
  width: 64px;
  height: 32px;
}

@keyframes resize {
  0% {
    background-color: var(--playButtonBackground);
    transform: var(--loadingBarTransform);
  }

  25% {
    background-color: transparent;
    transform: var(--loadingBarTransform);
  }

  100% {
    background-color: transparent;
    transform: scaleX(1);
  }
}

[aria-label="loading"] {
  background-color: var(--loadingBarBorder);
  border: var(--loadingBarBorder);
  box-shadow: var(--loadingBarBoxShadow);
  display: var(--loadingBarDisplay);
  height: var(--loadingBarHeight);
  transform: var(--loadingBarTransform);
  width: var(--loadingBarWidth);

  animation: resize 128ms forwards ease-in-out;
  padding: 0 0.4rem;
  transform-origin: left;
}

[aria-label="loading"] path {
  stroke: cyan;
  stroke-width: 32;
  stroke-dasharray: 256;
  stroke-dashoffset: 256;
  transition: stroke-dashoffset var(--loadingBarTransitionDuration) linear;
}

[itemprop="creator"] {
  align-items: center;
  color: white;
  display: flex;
  font-family: Futura, Helvetica, sans-serif;
  grid-template-columns: repeat(2, auto);
  margin: 2rem 0 0 0;
  transition: opacity 256ms 512ms;
}

[itemprop="creator"] > span {
  color: lightgray;
  font-style: italic;
}

[itemprop="creator"] > span::after {
  content: "  ";
  white-space: pre;
}

[itemprop="creator"] a {
  text-decoration: none;
}

[itemprop="creator"] [itemprop="name"] {
  color: white;
  font-size: 1.4rem;
}

[itemprop="creator"] [itemprop="name"]:hover {
  text-decoration-line: underline;
  text-decoration-color: cyan;
}

a[href*="github"] {
  align-items: center;
  color: deepskyblue;
  display: flex;
  flex-direction: row;
  font-family: Futura, sans-serif;
  font-size: 1.2rem;
  margin-top: 1rem;
  text-decoration: none;
}

a[href*="github"]:hover {
  text-decoration: underline;
}

a[href*="github"] svg {
  fill: deepskyblue;
  margin-right: 0.5ch;
  height: 1.4rem;
  width: 1.4rem;
}

aside {
  display: none;
}

